* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'segoe', sans-serif;
    background: #7f98e7;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: aliceblue;
    position: relative;
    z-index: 10;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}
.nav-link li{
    position: relative;
}
.nav-link li a{
    color: aliceblue;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}
.nav-link li:hover{
    background: #444;
    border-radius: 4px;
}

.dropdown{
    position: absolute;
    top: 35px;
    left: 0;
    background: #444;
    list-style: none;
    padding: 10px 0;
    min-width: fit-content;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(20px);
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
}
.service:hover .dropdown{
     opacity: 1;
     transform: translateY(0px);
     pointer-events: auto;
}

.logo{
    text-align: center;
    text-shadow: #444;
    text-decoration-color: blue;
    margin-top: 180px;
}