* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'segoe', sans-serif;
    background: #ffffff;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: rgb(2, 2, 2);
    position: relative;
    z-index: 10;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}
.nav-link li{
    position: relative;
}
.nav-link li a{
    color: rgb(46, 44, 44);
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}
.nav-link li:hover{
    background: #ffffff;
    border-radius: 4px;
}
.dropdown{
    position: absolute;
    top: 35px;
    left: 0;
    background: #fdfbfb;
    list-style: none;
    padding: 10px 0;
    min-width: fit-content;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(252, 251, 251);
    transform: translateY(20px);
    transition: all 0.3s ease;
    pointer-events: none;
    opacity: 0;
}
.service:hover .dropdown{
     opacity: 1;
     transform: translateY(0px);
     pointer-events: auto;
}
.logo{
    text-align: center;
    top: 45px;
}
.intro{
    text-align: center;
}
.dedication{
    text-align: center;
}
.vision{
    text-align: center;
    margin-top: 150px;
    margin-left: none;
    margin-right: none;
}
.mission{
    text-align: center;
    margin-top: 130px;
    margin-left: none;
    margin-right: none;
}
.MESSAGE {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
    margin-right: auto;
}
.text {
      flex: 1;
}
.image {
      flex: 1;
      text-align: right;
}
.image img {
      width: 200px;
}
.below{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.MESSAGE1 {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
    margin-right: auto;
}
.text {
      flex: 1;
}
.image1 {
      flex: 1;
      text-align: right;
}
.image1 img {
      width: 200px;
}
.below1{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name1{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.MESSAGE2 {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
    margin-right: auto;
}
.text {
      flex: 1;
}
.image2 {
      flex: 1;
      text-align: right;
}
.image2 img {
      width: 200px;
}
.below2{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name2{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.BSE {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.BSIS {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.Abm {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.ict {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.stem {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.pic1 {
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pic1 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.course {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px solid #000;
    display: inline-block;
}

.strand {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px solid #000;
    display: inline-block;
}

.strand1 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px #000;
    display: inline-block;
}

.course1 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px #000;
    display: inline-block;
}

.college {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.SH {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.Other {
    font-size: 23px;
    text-align: left;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.loyalty {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.pledge {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.million {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hymn {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.last {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}